

<ion-content padding>
    <div *ngIf="loginUser">
        <form [formGroup]="loginUser">
            <div class="app-logo">
                 <ion-icon name="finger-print"></ion-icon>
            </div>
            <div class="page-title">
                <h2>Hello!</h2>
                <p>Lorem ipsum dolor sit amet. Donec sodales ex sed leo pellentesque sollicitudin.</p>
            </div>
            <div>
                <ion-input class="username" type="text" placeholder="E-Mail Address" formControlName="username" [(ngModel)]="username"></ion-input>
                <div *ngIf="loginUser.controls.username.invalid && loginUser.controls.username.touched && loginUser.controls.username.dirty " class="alert alert-danger">
                    <p>Username is required</p>
                </div>
            </div>
            <div>
                <ion-input class="password" type="password" placeholder="Password" formControlName="password" [(ngModel)]="password"></ion-input>
            </div>
            <ion-item class="checkbox-wrapper">
                <ion-label>Keep Me logged in</ion-label>
                <ion-checkbox color="dark" checked="true">as,dadskj</ion-checkbox>
            </ion-item>
            <div class="btn-wrapper">
                <button ion-button  full (click)="Login(loginUser,username,password)">Submit</button>
                
            </div>
            <div class="btn-wrapper">
               <!--  <button ion-button color="secondary"  full>Cancel</button>
                 -->
            </div>
            <ion-grid class="extra-options">
                <ion-row>
                    <ion-col col-sm-6 >
                        Forgot password
                    </ion-col>
                    <ion-col col-sm-6 >
                        New User?   
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
      
    </div>
</ion-content>

