<ion-header>

  <ion-navbar color="headerClassic">
  <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
  </button>
     <ion-title><!-- <span *ngIf="questionTitle">{{questionTitle}}</span> -->
     	Section: Demo Survey
     </ion-title>
    
  </ion-navbar>

</ion-header>
<ion-content padding>
	<div class="card"  style="display: none">
		<span class="question-number">
			Question 1
		</span>
		of 20
		<div class="question-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eros magna ?
		</div>
		<div class="question-options">
			
		</div>
		
	</div>
	<div class="action-buttons"  style="display: none">
		<button ion-button class="previous">Previous</button>
		<button ion-button color="secondary" class="stop">Stop</button>
		<button ion-button class="next">Next</button>
	</div>
	<!-- survey based-->
	<ion-list style="display: none">
		<ion-item *ngFor="let survey of surveyQuestion">
          	<h1>{{survey?.question_text}}</h1>
          	<p>{{survey?.question_desc}}</p>
          	<p>{{survey.serialNo}}</p>
           	<p>{{survey?.question_type}}</p>
  		</ion-item>
	</ion-list>


	<!--question based-->
	<div *ngIf ="OriginalContent">
		<h1>{{OriginalContent?.question_text}}</h1>
			<p>{{OriginalContent?.idss}}</p>
			<p>{{OriginalContent?.question_desc}}</p>
			
      	<form #myForm='ngForm' (ngSubmit)="onSubmit(myForm,OriginalContent.serialNo,OriginalContent.question_key,OriginalContent.survey_id,OriginalContent?.question_text,OriginalContent?.question_type)">
			<div [ngSwitch]="OriginalContent?.question_type">

					<!--text-->
			    <div *ngSwitchCase="'text'">
				    <ion-item>
					    <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
					    <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
					  </ion-item>
			    </div>

			    <!--select-->
		      	<div *ngSwitchCase="'select'">
		        	<ion-item>
					    <ion-label>{{OriginalContent?.question_text}}</ion-label>
					    <ion-select [(ngModel)]="name" name="{{OriginalContent?.question_text}}">
					    	<ion-option *ngFor = "let opt of OriginalContent?.answers[0]">
					    	<ion-option value="{{opt?.option_value}}">{{opt?.option_text}}</ion-option>
					    	</ion-option>
					      
					    </ion-select>
  					</ion-item>
		      	</div>

		      <!--checkbox-->
		      <div *ngSwitchCase="'checkbox'">
		      	<ion-list >
						  <ion-item *ngFor="let check of OriginalContent?.answers[0]">
							  <ion-label>{{check?.option_text}}</ion-label>
							  <ion-checkbox  [(ngModel)]="check.selected" name="{{check.option_text}}"
							   color="red" ></ion-checkbox>
							</ion-item>
						</ion-list>
		      </div>

		      <!--radio button-->
		      <div *ngSwitchCase="'radio'">
		      	<ion-list radio-group [(ngModel)]="name" name="{{OriginalContent?.question_text}}">
						  <ion-item *ngFor = "let radio of OriginalContent?.answers[0]">
						    <ion-label>{{radio?.option_text}}</ion-label>
						    <ion-radio value="{{radio?.option_text}}"></ion-radio>
						  </ion-item>
 						</ion-list>
		      </div>

		      <!--textarea-->
		      <div *ngSwitchCase="'textarea'">
		      	<ion-item>
					    <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
					    <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
					  </ion-item>
		      </div>

		      <!--datepicker-->
		      <div *ngSwitchCase="'datepicker'">
		      	
		      </div>

		      <!--message-->
		      <div *ngSwitchCase="'message'">
			      <ion-item>
				      <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
				      <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
			      </ion-item>
		      </div>

		      <!--number-->
		      <div *ngSwitchCase="'number'">
		      	<ion-item>
		      		 <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
				      <ion-input type="number" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
			      </ion-item>
		      </div>

		      <!--location picker-->
				<div *ngSwitchCase="'location_picker'">

				</div>
			</div>

				
				
				<button *ngIf="previousButton" ion-button color="secondary" outline (click)="previous(OriginalContent.serialNo)">Previous</button>
				<button (click)="showConfirm()" ion-button color="danger" outline>Exit</button>
				<button  ion-button color="dark" outline>
	          <ion-icon name="add"></ion-icon>Next</button>
			</form> 
			

	</div>
</ion-content>