<ion-header>

  <ion-navbar color="headerClassic">
 <!--  <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
  </button> -->
     <ion-title><span *ngIf="questionTitle">{{questionTitle}}</span>
    <!--  	Section: Demo Survey -->
     </ion-title>
    
  </ion-navbar>

</ion-header>
<ion-content padding>
	<div *ngIf="OriginalContent">
	<div class="card" >
			<span class="question-number">Question {{filledQuestion}}</span>of {{surveyTotalQuestions}}
	    <div class="question-text">{{OriginalContent?.question_text}}</div>
			

			<!-- <input atp-time-picker arrowStyle="{'background': 'red', 'color': 'white'}"/> -->
			<!-- <input type="time" atp-time-picker value="" theme="dark" arrowStyle="{'background': 'red', 'color': 'white'}"  /> -->

		<form novalidate  [formGroup]="form">
		   <div [ngSwitch]="OriginalContent?.question_type">

		   	<!--text-->
					<div  *ngSwitchCase="'text'">
				      <input  [formControlName]="OriginalContent?.question_text"
				        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type"   [(ngModel)]="OriginalContent.prefill"  required>  
				        <!-- <div class="errorMessage" *ngIf="Errors">{{OriginalContent?.question_text}} is required</div> -->
				 </div>


		   		<!--textarea-->
					<div  *ngSwitchCase="'textarea'">
				      <input [formControlName]="OriginalContent?.question_text"
				        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type" [(ngModel)]="OriginalContent.prefill"  required> 
					<!-- 	<div class="errorMessage" *ngIf="Errors">{{OriginalContent?.question_text}} is required</div>
				 -->
					</div>

					
					<!--number-->
					<div *ngSwitchCase="'number'">
						 <input  [formControlName]="OriginalContent?.question_text"
				        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type" [(ngModel)]="OriginalContent.prefill"  required> 
					</div>

					<!--Email-->
					<div *ngSwitchCase="'email'">
						 <input  [formControlName]="OriginalContent?.question_text"
				        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type" [(ngModel)]="OriginalContent.prefill"  required> 
					</div>

					<!--password-->
					<div *ngSwitchCase="'password'">
						 <input  [formControlName]="OriginalContent?.question_text"
				        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type" [(ngModel)]="OriginalContent.prefill"  required> 
					</div>

				  <!--datepicker-->
				  <div *ngSwitchCase="'datepicker'">
				  	 <div class="datepicker-container">
				        <ng-datepicker  [formControlName]="OriginalContent?.question_text" [(ngModel)]="OriginalContent.prefill" [options]="options"></ng-datepicker>
				      </div>
				  </div>

				  <!--timepicker-->
				  <div *ngSwitchCase="'timepicker'">
				  	 <input type="time" [formControlName]="OriginalContent?.question_text" [(ngModel)]="OriginalContent.prefill" atp-time-picker value="" theme="dark" arrowStyle="{'background': 'red', 'color': 'white'}"  />
				  </div>


				  <!--select-->
				   <div *ngSwitchCase="'select'">
				   <ion-list>
  					<ion-item>
				     	<ion-label>{{OriginalContent?.question_text}}</ion-label>
							  <ion-select [formControlName]="OriginalContent?.question_text" [(ngModel)]="OriginalContent.prefill" >
					    	<ion-option *ngFor = "let opt of OriginalContent?.answers[0]">
					    	<ion-option value="{{opt?.option_value}}">{{opt?.option_text}}</ion-option>
					    	</ion-option>
					    </ion-select>
					     </ion-item>
						</ion-list>
				  </div>

				  <!--radio button-->
		       <div *ngSwitchCase="'radio'">
		      	<ion-list radio-group [formControlName]="OriginalContent?.question_text" [(ngModel)]="OriginalContent.prefill">
						  <ion-item *ngFor = "let radio of OriginalContent?.answers[0]">
						    <ion-label>{{radio?.option_text}}</ion-label>
						    <ion-radio value="{{radio?.option_text}}"></ion-radio>
						  </ion-item>
 						</ion-list>
		      </div>

 				<!--checkbox-->
		      <div class="checkdiv" *ngSwitchCase="'checkbox'">
		      
						  <div *ngFor="let check of OriginalContent?.answers[0]">
							  <input type="checkbox" [formControlName]="OriginalContent?.question_text" class="checkBoxClass" name="{{check?.option_text}}" id="checkall">{{check?.option_text}}
							</div>
				
		      </div>

		   	 <!--new types-->
			    <div *ngSwitchCase="'code'">

			    </div>

			  </div>
	
    		<div class="action-buttons">
					<button *ngIf="previousButton" ion-button   (click)="previous()">Previous</button>

					<button (click)="showConfirm(OriginalContent.question_key,OriginalContent.survey_id,OriginalContent?.question_text,OriginalContent?.question_type)" ion-button color="secondary" class="stop">Exit</button>

					<button  *ngIf="NextButton" ion-button (click)="onSubmit(form,OriginalContent.question_key,OriginalContent.survey_id,OriginalContent?.question_text,OriginalContent?.question_type)" class="next"><ion-icon name="add"></ion-icon>Next</button>
				</div>
</form>
</div>
	</div>


<!-- <input *ngSwitchCase="'textarea'"
        [formControlName]="OriginalContent?.question_text"
        [id]="OriginalContent?.question_text" [type]="OriginalContent?.question_type"   [(ngModel)]="OriginalContent.question_text" required> -->

	

	<!--question based-->
	<!-- <div *ngIf ="OriginalContent">
		<h1>{{OriginalContent?.question_text}}</h1>
			<p>{{OriginalContent?.idss}}</p>
			<p>{{OriginalContent?.question_desc}}</p>
			
      	<form #myForm='ngForm' (ngSubmit)="onSubmit(myForm,OriginalContent.serialNo,OriginalContent.question_key,OriginalContent.survey_id,OriginalContent?.question_text,OriginalContent?.question_type)">
			<div [ngSwitch]="OriginalContent?.question_type">

					<!-text-->
			   <!--  <div *ngSwitchCase="'text'">
				    <ion-item>
					    <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
					    <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
					  </ion-item>
			    </div>
 -->
			    <!--select-->
		      <!-- 	<div *ngSwitchCase="'select'">
		        	<ion-item>
					    <ion-label>{{OriginalContent?.question_text}}</ion-label>
					    <ion-select [(ngModel)]="name" name="{{OriginalContent?.question_text}}">
					    	<ion-option *ngFor = "let opt of OriginalContent?.answers[0]">
					    	<ion-option value="{{opt?.option_value}}">{{opt?.option_text}}</ion-option>
					    	</ion-option>
					      
					    </ion-select>
  					</ion-item>
		      	</div> -->

		      <!--checkbox-->
		     <!--  <div *ngSwitchCase="'checkbox'">
		      	<ion-list >
						  <ion-item *ngFor="let check of OriginalContent?.answers[0]">
							  <ion-label>{{check?.option_text}}</ion-label>
							  <ion-checkbox  [(ngModel)]="check.selected" name="{{check.option_text}}"
							   color="red" ></ion-checkbox>
							</ion-item>
						</ion-list>
		      </div> -->

		      <!--radio button-->
		     <!--  <div *ngSwitchCase="'radio'">
		      	<ion-list radio-group [(ngModel)]="name" name="{{OriginalContent?.question_text}}">
						  <ion-item *ngFor = "let radio of OriginalContent?.answers[0]">
						    <ion-label>{{radio?.option_text}}</ion-label>
						    <ion-radio value="{{radio?.option_text}}"></ion-radio>
						  </ion-item>
 						</ion-list>
		      </div>
 -->
		      <!--textarea-->
		     <!--  <div *ngSwitchCase="'textarea'">
		      	<ion-item>
					    <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
					    <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
					  </ion-item>
		      </div>
 -->
		      <!--datepicker-->
		      <!-- <div *ngSwitchCase="'datepicker'">
		      	
		      </div> -->

		      <!--message-->
		      <!-- <div *ngSwitchCase="'message'">
			      <ion-item>
				      <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
				      <ion-input type="text" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
			      </ion-item>
		      </div> -->

		      <!--number-->
		     <!--  <div *ngSwitchCase="'number'">
		      	<ion-item>
		      		 <ion-label floating>{{OriginalContent?.question_text}}</ion-label>
				      <ion-input type="number" [(ngModel)]="name" name="{{OriginalContent?.question_text}}" required></ion-input>
			      </ion-item>
		      </div> -->

		      <!--location picker-->
				<!-- <div *ngSwitchCase="'location_picker'">

				</div>
			</div> -->

				
				<!-- 
				<button *ngIf="previousButton" ion-button color="secondary" outline (click)="previous(OriginalContent.serialNo)">Previous</button>
				<button (click)="showConfirm()" ion-button color="danger" outline>Exit</button>
				<button  ion-button color="dark" outline>
	          <ion-icon name="add"></ion-icon>Next</button>
			</form> 
			

	</div> -->
	
</ion-content>