page-listsurvey {
	$ItemColors: #f78663, #48afaa, #f7b04b, #4bc9db, #7cc17f;
	.scroll-content{
		padding: 0
	}
	
	.icon-wrapper{
		display: inline-block;
		color: white;
		text-align: center;

		ion-icon{
				line-height: 40px;
		width: 40px;	
		}
	}	
	@for $i from 1 through 5 {
        ion-item-group:nth-child(5n+#{$i}) .icon-wrapper{
            background-color:nth($ItemColors,$i);
        }
    }
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img{
    	width: 40px;
    	height: auto;
    }
    .item-md ion-thumbnail{
    	min-height: auto;
    	min-width: auto
    }
    .item-md p.read-more{
    	text-align: right;
    }
	.list-content-wrapper{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
		position: relative;

		.item-title{
			font-size: 15px;
			color: #676767;
			padding-bottom: 3px;
		}
		.item-description{
			font-size: 11px;
			color: #757575;
		}
		.item-time{
			position: absolute;
			top: 0;
			right: 50px;
			font-size: 11px;
			color:#757575; 
		}
	}
}
