
<ion-header>

  <ion-navbar color="headerClassic">
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title> <span *ngIf="surveyTitle">{{surveyTitle}}</span></ion-title>
  </ion-navbar>

</ion-header>

  
<ion-content>
<!-- <h1>List Of Surveys</h1>
<ion-list>
<div *ngFor="let survey of listSurvey[0]">      

  <ion-item (click)="groups(survey.id)">
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/survey.png">
    </ion-thumbnail>
    <h2>{{survey.name}}</h2>
    <p>{{survey.description}}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</div>
<div *ngIf="nullSurvey">
  <p>{{nullSurvey}}</p>
</div>
</ion-list> -->

<ion-item-group *ngFor="let survey of listSurvey[0]">
    <ion-item (click)="groups(survey.id)">
        <div class="icon-wrapper">
            <ion-icon name="map"></ion-icon>
            
        </div>  
        <div class="list-content-wrapper">
            <div class="item-title">{{survey.name}}</div>
            <div class="item-description">{{survey.description}}</div>
            <div class="item-time">
                30 Mar 2018
            </div>
        </div> 


    </ion-item>
   
</ion-item-group>
<div *ngIf="nullSurvey">
  <p>{{nullSurvey}}</p>
</div>
</ion-content>
