<!-- <ion-header >
  <ion-navbar color="headerClassic">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ><h1 *ngIf="dashboard">{{dashboard.android_application_title}}</h1></ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content>
	<!-- <div class="Dashboard-content" *ngIf="dashboard">
		<p>{{dashboard.android_application_description}}</p>
		<button ion-button icon-left block (click)="listSurvey()"><ion-icon name="home"></ion-icon>{{dashboard.link_to_start_survey_text}} </button>
		<button ion-button icon-left block color="secondary" (click)="recordList()"><ion-icon name="home"></ion-icon>{{dashboard.link_to_manage_survey_text}}</button>
		<button ion-button icon-left block color="dark"><ion-icon name="home"></ion-icon> {{dashboard.link_to_sync_survey_text}}</button>
		<button ion-button icon-left block color="danger"><ion-icon name="home"></ion-icon>{{dashboard.link_to_update_app_text}}</button>
	</div> -->

	<div class="dashbaord-wrapper" *ngIf="dashboard">

		<div class="dashbaord-background">
			<div class="overlay">
				<div class="dashboard-title">
					IRIS Application
				</div>
				<div class="dashbaord-description">
					{{dashboard.android_application_description}}
				</div>
			</div>
			<div class="dashboard-stats">
				<ion-grid>
					<ion-row>
    					<ion-col>
      						<div>
      							<div class="stat-number" >
      								12
      							</div>
      							<div class="stat-name">
      								Surveys
      							</div>
      						</div>
    					</ion-col>
    					<ion-col>
      						<div>
      							<div class="stat-number">
      								104
      							</div>
      							<div class="stat-name">
      								Completed
      							</div>
      						</div>
    					</ion-col>
    					<ion-col>
      						<div>
      							<div class="stat-number">
      								6
      							</div>
      							<div class="stat-name">
      								In-complete
      							</div>
      						</div>
    					</ion-col>
    					<ion-col>
      						<div>
      							<div class="stat-number">
      								1
      							</div>
      							<div class="stat-name">
      								Update
      							</div>
      						</div>
    					</ion-col>
  					</ion-row>
				</ion-grid>
			</div>
			<button ion-button menuToggle class="dashboard-menu-toggle" color="transparent">
  				<ion-icon name="menu"></ion-icon>
			</button>
			
		</div>
		<div class="dashboard-links">
			<ion-grid>
				<ion-row>
					<ion-col col-6 (click)="listSurvey()">
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="briefcase"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_start_survey_text}}
								</div>
							</div>		
					</ion-col>
					<ion-col col-6 (click)="recordList()">
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="easel"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_manage_survey_text}}
								</div>
							</div>
					</ion-col>
					<ion-col col-6 >
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="list-box"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_sync_survey_text}}
								</div>
							</div>
					</ion-col>
					<ion-col col-6 >
							<div class="link-wrapper">
								<div class="link-icons">
									 <ion-icon name="cloud-download"></ion-icon>
									
								</div>
								<div class="link-name">
									{{dashboard.link_to_update_app_text}}
								</div>
							</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div class="dashboard-links-second-design">
			<ion-grid>
				<ion-row>
					<ion-col col-5 (click)="listSurvey()">
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="briefcase"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_start_survey_text}}
								</div>
							</div>		
					</ion-col>
					<ion-col col-7 (click)="recordList()">
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="easel"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_manage_survey_text}}
								</div>
							</div>
					</ion-col>
					<ion-col col-7 >
							<div class="link-wrapper">
								<div class="link-icons">
									<ion-icon name="list-box"></ion-icon>									
								</div>
								<div class="link-name">
									{{dashboard.link_to_sync_survey_text}}
								</div>
							</div>
					</ion-col>
					<ion-col col-5 >
							<div class="link-wrapper">
								<div class="link-icons">
									 <ion-icon name="cloud-download"></ion-icon>
									
								</div>
								<div class="link-name">
									Update
								</div>
							</div>

					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
