<ion-header>
  <ion-toolbar color="headerClassic" class="back-btn-header">
    <button ion-button  (click)="backToDetails()">
            <ion-icon name="md-arrow-round-back"></ion-icon>
    </button>
    <ion-title><span>Syncronize records</span></ion-title>
     
  </ion-toolbar>

</ion-header>
<ion-content>


 <!-- <input type="checkbox" id="ckbCheckAll" (click)="ckbCheckAll($event);"> Check All
    <div id="checkBoxes">
     <div class="sync-item" *ngFor="let record of listSurvey">
      
         <ion-item>
                 <input type="checkbox"  class="checkBoxClass" 
             name="{{record.tablename}}"   color="red" >{{record.name}}
          </ion-item>
        
        </div>
        <br />
    </div>  -->

    <div *ngIf="(listSurvey!=null); else second">
      
      <form #myForm='ngForm' >
        <input type="checkbox" id="ckbCheckAll" (click)="ckbCheckAll($event);">Check All
        <div id="checkBoxes">
          <div class="sync-item" *ngFor="let record of listSurvey">
            <div class="sync-item-title">
              <ion-item>
                <input type="checkbox" [(ngModel)]="record.tablename.selected" id="id" class="checkBoxClass" name="{{record.tablename}}"  color="red">{{record.name}}
              </ion-item>
            </div>
            <div class="sync-item-footer">
              <div class="footer-item">
                  <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                  {{record.synchronize}} Synchronized
              </div>
              <div class="footer-item">
                   <ion-icon name="ios-photos-outline"></ion-icon>
                  {{record.unsynchronize}} Unsynchronized
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <div class="sync-button">
              <button ion-button class="ddd" (click)="onSubmit(myForm)">Synchronize All</button>
          </div>
        </div>
      </form> 
    </div>
    <ng-template #second>
      <p class="noSuvey">there is no survey</p>
    </ng-template>
   
  
</ion-content>
