page-profile {
	.profile-wrapper{
		text-align: center;
		.image-wrapper {
			margin-bottom: 10px;
			img{
				height: 120px;margin: 0 auto;

			}
		}
		.profile-menu-toggle{
			color: black;
		    box-shadow: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    margin: 16px;
		}
		.user-info{

			.pull-right{
				text-align: right;
			}
			.pull-left{
				text-align: left;
			}
			.about-me-text{
				border: 1px solid #e8e8e8;
				padding: 16px;
				margin-top: 16px;
				margin-bottom: 16px;
				line-height: 1.5 
			}
		}
	}

}



