page-profile-edit {
	.content-md{
		background-color: #f5f5f5;
		.field-wrapper{
			background-color: white;
			padding: 16px;
		}
		.Error{
			color: red;
		  font-weight: 500;
		  text-transform: capitalize;
		}
	}
}
