page-survey-pop-up {
	.completed{
		    text-align: center;
    padding-top: 21%;
	}
	.completed ion-icon{
		font-size: 94px;
    color: #ff7616;
	}
	.completed p{
		    font-size: 22px;
    color: black;
    text-transform: capitalize;
    font-weight: 500
	}
}	
