<ion-header>
  <ion-toolbar color="headerClassic">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><span>Syncronize Survey</span></ion-title>
      <ion-buttons end>
          <button ion-button icon-only>
              <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons end>
          <button ion-button icon-only>
              <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- <button (click)="filter = !filter">Change Status</button> -->
	

    <div *ngIf="synchronizeSurvey">
      <form [formGroup]="synchronizeSurvey">
        <div class="sub-head">
          <ion-item>
                  <ion-label> Select All </ion-label>
                <ion-checkbox color="dark" (click)="filter = !filter" ></ion-checkbox>
          </ion-item>
        </div>
        <div class="list-records" *ngFor="let  record of synchronize">
            <ion-list>
              <div class="checkbox">
                <label class="center-block">
                  <input type="checkbox" formControlName="{{record.incomplete_name}}" [(ngModel)]="record.incomplete_name.checked">{{record.incomplete_name}}
                </label>
              </div>


               <!--  <ion-item>
                    <ion-label>
                        {{record.incomplete_name}}<br>
                        <span class="date-time">{{record.survey_completedOn | date:'E dd-MM-yyyy hh:mm a '}}</span>
                    </ion-label>
                 <ion-checkbox id="record.incomplete_name" formControlName="{{record.incomplete_name}}"  [(ngModel)]="record.incomplete_name" (click)="onFilterChange($event,record)"> {{record.incomplete_name}}</ion-checkbox>
                   <!--  <ion-input  color="primary" formControlName="{{record.incomplete_name}}" id="{{record.incomplete_name}}" type="text"   [(ngModel)]="record.incomplete_name" ></ion-input> -->
                <!-- </ion-item> --> 
            </ion-list>
            <div class="button-wrapper">
              <button ion-button  (click)="synchronizeAll(synchronizeSurvey.value)">Save</button>
            </div>
        </div>
      </form>
    </div>
   
</ion-content>
