



<ion-content>
    <!-- <ion-list class="" >
        <ion-item *ngFor="let groups of groupsResult" (click)="questionid(groups.id)">
            <h2>{{groups.survey_id}} | {{groups.title}}</h2>
            <p>
               {{groups.description}}
            </p>
        </ion-item>        
                 
    </ion-list> --> 
    <div class="survey-info">
        <button persistent="true" ion-button menuToggle color="transparent">
            <ion-icon name="menu" ></ion-icon>
            
        </button>   
        <div class="survey-title">
            Survey Name
        </div>
        <div class="survey-description">
            this is the description of the survey
        </div>
        <ion-list class="section-list" >
            <div class="list-header">
                List of sections
            </div>
            <div class="list-content">
            <!-- [class.my-class]="step=='step1'"
            [ngClass]="{'my-class': step=='step1'}"
            [ngClass]="{1:'my-class1',2:'my-class2',3:'my-class4'}[step]"
            [ngClass]="(step=='step1')?'my-class1':'my-class2'" -->
             <!--    [ngClass]="{'completed': groups.id == navdata}"  -->


                <ion-item  [ngClass]="getCSSClasses(groups.id)" *ngFor="let groups of groupsResult" (click)="questionid(groups.id,groups.serialNo)">
                    <ion-avatar item-start class="list-icon">
                      <ion-icon name="ios-photos-outline"></ion-icon>
                    </ion-avatar>
                    {{groups.id}}
                    <h2>{{groups.title}}</h2>
                    <p>
                       {{groups.description}}

                    </p>
                    <!-- <span>0 times filled</span> -->

                    <ion-icon item-end name="ios-arrow-dropright-outline" class="arrow"></ion-icon>
                    <ion-icon item-end name="ios-checkmark-circle" class="check"></ion-icon>

                </ion-item>        
                      
                 
            </div>
                        
        </ion-list>
    </div>
    
</ion-content>


