<ion-menu [content]="content">
  <ion-header class="custom-menu-header">
    <ion-toolbar>
        <ion-item color="transparent">
            <ion-avatar item-start>
                <div class="icon-wrapper">
                <!--   <img src="assets/imgs/dummy-user-img.png"> -->
                  <div  class="imgdiv" *ngIf="base64Image; else userimg">
                    <img [src]= "(base64Image)">  
                  </div >
                  <ng-template #userimg>
                    <img src="assets/imgs/dummy-user-img.png">
                  </ng-template>
                </div>    
            </ion-avatar>
            <h2>{{username}}</h2>
            <p>{{userEmail}}</p>
        </ion-item>
        
     <!--   <button ion-button menuToggle>
      <ion-icon name="close"></ion-icon>
    </button> -->

    </ion-toolbar>
    <div class="custom-menu-title">
        MAIN MENU
    </div>
  </ion-header>
  <ion-content class="custom-menu-content">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
         <ion-icon name="{{p.icon}}"></ion-icon>
         <span class="menu-item-text">{{p.title}}</span>
        
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon name="ios-log-out-outline"></ion-icon>
        <span class="menu-item-text">Logout</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>