// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.custom-menu-content{
	ion-icon{
		width: 30px
	} 
	.menu-item-text{
		vertical-align: top;
		color: #757575;
		    font-weight: 900;
    color: #757575;
	}
	.list-md .item-block .item-inner{
		border:none
	}
	.item-md{
		padding: 6px 20px;
	}
}
.custom-menu-header{

	.toolbar-background{
		background: linear-gradient(180deg, #55a4e7 0%,#86bde6 100%);;
	}
	.icon-wrapper{
	  	display: inline-block;
	  	background-color: wheat;
    	color: grey;
	  	text-align: center;
	  	border-radius: 50%;

	  	ion-icon{
	      	line-height: 40px;
	  		width: 40px;  
	  	}
	}
	.item-md{
		h2{
			line-height: 1.6;
    		font-size: 20px;
    		font-weight: 300;
		}
	} 
	.item-md.item-block .item-inner{
		border:none;
	}
	.custom-menu-title{
		background-color: #a8cfec;
		padding: 16px;
		text-align: center;
		font-weight: 900;
		color: white;
		font-size: 13px;
	}
}
