
.custom-menu-content{
	ion-icon{
		width: 30px
	} 
	.menu-item-text{
		vertical-align: top;
		color: #757575;
		    font-weight: 900;
    color: #757575;
	}
	.list-md .item-block .item-inner{
		border:none
	}
	.item-md{
		padding: 6px 20px;
	}
}
.custom-menu-header{

	.toolbar-background{
		background: linear-gradient(180deg, #265277 0%, #1f80ca 100%);
	}
	.icon-wrapper{
	  	display: inline-block;
	  	background-color: wheat;
    	color: grey;
	  	text-align: center;
	  	border-radius: 50%;

	  	ion-icon{
	      	line-height: 40px;
	  		width: 40px;  
	  	}
	}
	.item-md{
		h2{
			line-height: 1.6;
    		font-size: 20px;
    		font-weight: 500;
		}
	} 
	.item-md.item-block .item-inner{
		border:none;
	}
	.custom-menu-title{
		background-color: #2a89d0;
		padding: 16px;
		text-align: center;
		font-weight: 900;
		color: white;
		font-size: 13px;
	}
}
.back-btn-header{
	.button-md{
		float: left;
		background: transparent;
		box-shadow: none;
	}
	.button-md:hover{
		background: transparent;
	}
	ion-title{
		float: left;

		.toolbar-title-md{
			line-height: 44px;
		}
	}
}
