page-incompleted-survey {
	.scroll-content{
		padding: 0 !important;
     	background-color: #efefef;
	}
	
	.custom-card{
		border:1px solid #e8e8e8;
		margin-bottom: 12px;
		background: white;

		.percentage-wrapper{
			float: right;

			div{
				
			}
			span{
				
			}
		}
		.content-wrapper{
			width: 100%;
			float: left;
			padding: 10px;

			.item-title{
				font-size: 20px;
				color: #757575;
				line-height: 1;
				margin-bottom: 8px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

			}
			.pause-location{
				font-size: 14px;
				color: #999;
				line-height: 1.5;
				margin-bottom: 3px;
			}
			.start-end-date{
				font-size: 14px;
				line-height: 1.5;
				color: #999;

				

				ion-icon{
					color: grey;
					margin-right: 6px;
					vertical-align: top;
					font-size: 20px;
				}
			}
		}
		.custom-card-footer{
			background-color: #ffffff;
			border-top: 1px solid #e8e8e8;
			font-size: 14px;

			.question-incomplete{
				display: inline-block;
				padding: 10px;
				color: #454545;

				ion-icon{
					color: #FF6F00;
    				font-size: 20px;				
     				vertical-align: middle;
     				margin-right: 6px;

				}
			}
			.resume-survey{
				display: inline-block;
				padding: 10px;
				border-left: 1px solid #e8e8e8;
				border-right: 1px solid #e8e8e8;
				float: right;
				color: #454545;

				ion-icon{
					color: #43A047;
					font-size: 20px;				
     				vertical-align: middle;
     				margin-right: 6px;
				}
			}
			.trash-survey{
				display: inline-block;
				float: right;
				padding: 10px;
				color: white;
				background: #E57373
			}


		}
	}
	.clear{
		clear: both;
	}
}
